pandas
numpy
seaborn
matplotlib
scikit-learn
yfinance
pandas_ta
keras
tensorflow
flask
flask_cors
gunicorn
plotly
statsmodels
streamlit
xgboost
lightgbm
requests
beautifulsoup4
ta
matplotlib
ipykernel
ipython
jupyter
jupyterlab
-e .